# This file is in Public Domain.

# test_google_spreadsheet.rb asks you for your Google account each time by default.
# If you want to automate it, copy this file to account.yaml and set some proper values.

# Stores session to $HOME/.ruby_google_spreadsheet.token and reuse it.
auth_type: "saved_session"

# Or, you can use either of the sections below instead.

# Writes your Google account information here directly.
#
# auth_type: "client_login"
# mail: "example@gmail.com"
# password: "YOUR PASSWORD"

# Use OAuth2.
#
# auth_type: "oauth2"
# oauth2_client_id: "YOUR_CLIENT_ID"
# oauth2_client_secret: "YOUR_CLIENT_SECRET"
